html{ 
    font-size: 14px;
    background-color: #ffffff
}
.row-blue{
    background-color: #111D4A;
    color: #ffffff; 
}
h1{
    font-size: 3rem;
    color: #1E1E24;
    font-weight: bold;
}
h2{
    Font-size: 2rem;
    color: #1e1e24;
    font-weight: bold;
}
p{
    color: #1E1E24;
}
a{
    color: #92140C;
    text-decoration: underline;
}
a:hover{
    font-weight: bold;
    color: #390805;
    text-decoration: underline;
}
.navigation{
    color: #ffffff;
    text-decoration: underline;
}
.navigation:hover{
    font-weight: bold;
    color: #FFCF99;
    text-decoration: underline;
}
.champ{
    background-color: #FFCF99;
    color: #111D4A;
}
.tools-info{
    font-size:1.25rem;
}
.items-list li{
    font-size: 1.25rem;
    color: #111D4A;
}
.items-list p{
    font-size: 1rem;
    color: #1E1E24;
}
.important-paragraph{
    font-size: 1.5rem;
}
.griffith{
        display: inline-block;
        color: #92140C;
        background: #ffcf99;
        padding: 20px 25px;
        border: 2px solid #FFCF99;
        border-radius: 10px 
    }
.griffith:hover{
    font-weight: bold;
    color: #390805;
    text-decoration: underline;
}
@media print{
    nav{
        display: none;
    }
}
    
